* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
    background-image: url("img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.show {
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar .menu-toggler {
    margin: 25px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url("assets/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 100;
}

body.show .navbar .menu-toggler {
    background-image: url("assets/close.svg");
}

body.hide .navbar .menu-toggler {
    background-image: url("assets/menu.svg");
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    transition: all 300ms ease-out;
}

body.show .menu {
    visibility: visible;
    opacity: 1;
}

body.hide .menu {
    visibility: hidden;
    opacity: 0;
}

.menu ul {
    display: inline-grid;
    list-style: none;
}

.menu ul li {
    margin: 15px;
    transform: translateY(50px);
    opacity: 0;
}

.menu ul li::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transition: transform 100ms linear;
}

.menu ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

body.show .menu ul li {
    opacity: 1;
    transform: translateY(0);
    transition: all 250ms ease-out calc(250ms + var(--i));
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}
